{% comment %}
  Overrides the theme's sidebar: large round photo, italic title lines, then a
  plain list of links. The name lives in the masthead instead. Edit the content
  under `author` in _config.yml.
{% endcomment %}
{% assign author = site.author %}

<div itemscope itemtype="https://schema.org/Person" class="h-card author-card">
  <meta itemprop="name" content="{{ author.name }}">

  {% if author.avatar %}
    <a class="author-card__photo" href="{{ '/' | relative_url }}">
      <img src="{{ author.avatar | relative_url }}?v={{ site.time | date: '%s' }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
    </a>
  {% endif %}

  <div class="author-card__body">
    {% if author.lines %}
      <p class="author-card__lines">
        {% for line in author.lines %}
          <i>{% if line.url %}<a href="{{ line.url | relative_url }}">{{ line.text }}</a>{% else %}{{ line.text }}{% endif %}</i>{% unless forloop.last %}<br>{% endunless %}
        {% endfor %}
      </p>
    {% endif %}

    {% if author.links %}
      <ul class="author-card__links">
        {% for link in author.links %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if link.url contains 'http' %} itemprop="sameAs"{% endif %}><i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
